<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\AsynchronousImportApi\Model\ConvertingRulesProcessorChain">
        <arguments>
            <argument name="ruleProcessors" xsi:type="array">
                <item name="store_view_code_to_id" xsi:type="object">Magento\AsynchronousImportWebsite\Model\Import\ConvertingRule\StoreViewCodeToId</item>
                <item name="website_name_to_id" xsi:type="object">Magento\AsynchronousImportWebsite\Model\Import\ConvertingRule\WebsiteNameToId</item>
                <item name="website_code_to_id" xsi:type="object">Magento\AsynchronousImportWebsite\Model\Import\ConvertingRule\WebsiteCodeToId</item>
            </argument>
        </arguments>
    </type>
</config>
